---
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage 
	key="COMP1511"
	primaryColor="bg-[#FBA4E9]"
	secondaryColor="bg-[#FFF6FF]"
	thumbnail="/images/comp1511.jpg"
	thumbnailUrl="https://unsplash.com/photos/red-green-blue-and-yellow-balloons-q1x3cuziBsc">
	<ReviewSection title="Overview">
		<p>Prerequisites: None</p>
		<br/>
		<p>This course was very fun and entertaining. I did some coding in the past, but was very rusty. This course made all the 
			concepts very easy to understand, yet also very intellectually stimulating. I loved doing the labs and was so interested
			that I did all the bonus ones. Tutorials were somewhat interesting for the weeks that I went before I learned they were not 
			mandatory. There are plenty of online tutorials too! Assignments were also very fun to do. I got to program a cute whimsical 
			game based on arrays, as well as a cool linked-list based crepe stand planner. It was very wholesome. My only regret is that 
			I neglected that strings were represented as arrays of chars with a null terminating character and got 0 for an exam programming 
			question. Don't forget that and you'll do even better!
		</p>
	</ReviewSection>
	<ReviewSection title="Difficulty">
		<p>As an introductory course to programming it is very easy (note this part of the review and beyond were written much much later after 
			I took this course). You learn the absolute basics, like if statements, for and while loops, strings, arrays, linked lists, and some 
			pointers. Relatively chill overall (although comp sci definitely gets harder)!
		</p>
	</ReviewSection>
	<ReviewSection title="Enjoyment">
		<p>Fun af, and especially low pressure, what more can I say :P</p>
	</ReviewSection>
	<ReviewSection title="Effort">
		<p>If these concepts are completely new to you it might take a little more effort to get, but these are the literal basics, so it doesn't take 
			that much effort to master...
		</p>
	</ReviewSection>
	<ReviewSection title="Delivery">
		<p>I took this course back when I watched all the COMP lectures and was largely new to uni life, and honestly the lectures were quite good. I also 
			did my first lab but then realised it was completely voluntary and so skipped the rest because I'm lazy (and also out of pure inertia after kind of 
			embarassing myself during an icebreaker part, I hate that shit btw)...
		</p>
	</ReviewSection>
	<ReviewSection title="Utility">
		<p>You can't do any fucking thing in programming unless you know the basics...</p>
	</ReviewSection>
</ReviewPage>