---
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage 
	key="COMP1531"
	primaryColor="bg-[#21D0B0]"
	secondaryColor="bg-[#E8F3F1]"
	thumbnail="/images/comp1531.jpg"
	thumbnailUrl="https://unsplash.com/photos/green-grass-on-water-8QxNb3Ovn20">
	<ReviewSection title="Overview">
        <p>Prerequisites: COMP1531</p>
        <br/>
        <p>This was phenomenal. Any course with no final exam is phenomenal (this course basically has one giant assignment split into three 
            stages you take up the whole term to do). This is the first group work course you do in a 
            computer science degree. Luckily I did it with one of my actual friends, so it was the most relaxing and fun endeavour 
            ever. My other group members were also, for some reason, solely comprised of the most sociable computer science students 
            in the university. We really lucked out. Even if they weren't super good at coding, they were very funny to talk to and 
            the entire experience was super chill. This is the only course where you need to attend all of the labs, however 
            the group work made up for it. As for what you actually learn, Javascript and Typescript are beautiful languages. It is 
            incredibly easy to do what you want in them. Although tests were a bit boring at first, learning how to test, but also how 
            to deal with HTTP requests and responses, playing with objects, saving data, were all so fun. It also felt like the first 
            course where you were actually making software for people to use rather than getting esoteric about some niche algorithms. 
            I LOVE SOFTWARE! I LOVE MAKING THINGS FOR PEOPLE TO USE! I LOVE THIS COURSE!
        </p>
        <br/>
	</ReviewSection>
	<ReviewSection title="Difficulty">
        <p>A lot of this course is basically introducing you on how to code by yourself and as a team - learning how to find answers on search enginges to 
            your coding problems, how to communicate and use "AGILE" teamwork processes or whatever (ngl shit was like psuedo science to me), but 
            also thinking about programming as a vehicle to create products and services for people to use. You create what is basically a backend 
            server in Javascript/Typescript and then see at the end of the term of it links with a front-end. Because this is basically a massive project you 
            need to be consistent. However, the concepts aren't that difficult and the load is shared with your team members.
        </p>
        <br/>
        <p>Honestly the hardest part of the course is implicitly learning things that you aren't actually explicitly tought eg dealing with function callbacks before 
            learning of what they actually are, or getting into the intricacies of asynchronous programming and closures without being formally taught (that's done in the elective 
            COMP6080!). However, everything is really doable and really makes you feel like you're learning something modern and fresh. The hardest part of the actual 
            syllabus content is learning about Typescript, but Typescript is beautiful.
        </p>
	</ReviewSection>
	<ReviewSection title="Enjoyment">
        <p>This is one of those courses where I enjoyed every single moment of my time. If you can get a good group the social aspect is phenomenal. I was blessed with 
            a good that perhaps didn't code the best but were so fucking sociable and funny. We would honestly go to labs to just talk forever and do nothing. Of course because 
            they were a bit useless sometimes me and my trusted partner had to micromanage the shit out of them and also had to bash our heads against the wall when they made 
            silly mistakes that we didn't catch when reviewing their code. Honestly though its the kind of shit you look back on fondly.
        </p>
        <br/>
        <p>I know for a fact that this is by far not the common experience. Most people loath COMP1531 because they have shitty group members who are not only bad programmers 
            but don't communicate and ditch shit at the last minute. Having someone you actually know and trust in your group makes a big difference on how enjoyable this is.
        </p>
	</ReviewSection>
	<ReviewSection title="Effort">
        <p>You can easily get 100 by doing the proper tests and passing them and doing every feature. It's really just a test of how well you can come up with interfaces for your objects 
            and think of the different ways an app is changed based on its state (we had to make a Kahoot ripoff, so states like when a question was active, etc). Honestly the effort 
            doesn't come from the difficulty of applying shit in practice, but having to micromanage your shitty group members, do weekly standups and sprints to appease your tutor, and 
            ultimately doing the entire thing by yourselves as a backup just in case they fail to deliver (which to be honest is doable). The total amount of effort 
            is probably like an assignment's worth every three-ish weeks ie maybe 5-10 hours a week, including labs?
        </p>
	</ReviewSection>
	<ReviewSection title="Delivery">
        <p>My tutor was chill af but had a crazily sexual anime girl as their phone wallpaper and would take a phone call in the middle of a lab. It was funny and didn't really 
            impact things so I didn't really mind to be honest. The lectures and labs were adequate and fun but nothing to write home about...
        </p>
	</ReviewSection>
	<ReviewSection title="Utility">
        <p>This is by far the most useful course for ending your impostor syndrome and feeling like you can actually create things with your programs. Coming off of COMP1511, which felt 
            initially like writing small shit programs in a very old language, this course gives you confidence and also a little bit of experience into how programming is done in the 
            'real world' ie for applications that a fuckton of people use every day. 
        </p>
	</ReviewSection>
</ReviewPage>