---
import InTextLink from "../../components/InTextLink.astro";
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage
  key="LAWS1075"
  primaryColor="bg-[#78AEFF]"
  secondaryColor="bg-[#E0F1FF]"
  thumbnail="/images/laws1075.jpg"
  thumbnailUrl="https://unsplash.com/photos/oval-brown-wooden-conference-table-and-chairs-inside-conference-room-GWe0dlVD9e0"
>
  <ReviewSection title="Overview">
    <p>Prerequisites: <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink></p>
    <br />
    <p>
      It does what it says on the tin. I honestly view all the mainstream private law subjects beginning with <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> as just one contiguous course because literally
      everything overlaps with each other. This course is basically part 2 of the first half of <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> which was about contract formation (or maybe <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> was a prequel). It might
      be weird to describe law in this way but the payoff was lowkey cinematic - there were cases you do in this course that were mentioned in cases you did all the way back in the first
      few weeks of <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> eg the one about the terms on a parking ticket. This course is contracts all the way down and its lowkey interesting as fuck to understand the point of contracts
      and seeing how everything that was merely alluded to before was able to combine in a crazy way.
    </p>
    <br />
    <p>
      From <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> you have prior knowledge of contract formation and promissory or equitable estoppel. It is pretty much the equivalent for the first two weeks, where you learn about
      how express terms can be incorporated into contracts, as well as how estoppel and other things relevant to formation might impact that (eg collateral contracts). You also take a dive into
      implied terms and construction. Construction (ie construing terms) is quite simple of a task at first (figure out what words mean, that's pretty much what we do every day) but being specific
      about the process and knowing the exact steps makes it quite an intellectually interesting thing to do.
    </p>
    <br />
    <p>
      After that you get into some more interesting topics - different ways a contract can be terminated (agreeement, breach, delay, repudiation, etc) and frustrated. Here the historical development behind these things is really interesting and
      you really get a big picture understanding of what the fuck contracts are even doing. There are also some admittedly more difficult and dry things to understand like election and waiver, but the recent
      High Court guidance on this is also quite interesting. From this point these topics were all covered in the midterm assignment and they're really 'fun' to 'play with' as tools and to argue about certain things
      eg you aren't repudiating a contract just because you degree with how its interpreted. These things might seem dry but they really spring to life when you can apply them to problem questions and
      scenarios where people have shit on the line. I also find it quity funny that you could argue a contract is frustrated if one of the parties goes to jail or dies.
    </p>
    <br />
    <p>
      At week 5 and later shit starts to spike in difficulty but not by that much. Its at this point when the course stops being merely mildly captivating and more a fucking philosophy of justice and
      shit, for a lack of better words. You take around three lessons to talk about damages as in one party compensating another for a breach of a term (or perhaps the loss of an entire contract) and consequential losses. Calculating
      damages based on the ideas of direct and consequential losses through different metrics like lost profits, costs of rectification, losses of a chance, or wasted expenditure (reliance damages) and learning which ones are more appropriate
      is not only intellectually stimulating but actually make sense for compensating a relatively more innocent party. Using tests of causation and remoteness as well as mitigation, which might seem complicated at first, but merely echo
      the principle that you're supposed to be put in the same place as if the contract had been performed was revelatory. I really fuck with the black letter or pure rule aspect of law when they're all derived from a single principle
      being constantly refined and battle tested through different and interesting scenarios because it just all makes sense. In contrast to other people considering these cases dry I really loved cases like Cessnock and Alexander where everything
      was explained incredibly. Maybe the hardest thing to understand (which to be honest wasn't that hard on retrospect) - the penalties doctrine in equity ie being able to set aside a liquidated damages clause if it was basically punitive -
      was also quite interesting and historically made a lot of sense (you don't want parties contracting to punish each other). There are also some other more niche topics covered in the online modules such as an action for debt.
    </p>
    <br />
    <p>
      After the midterm break you learn about the other way a party can elect to end a contract - rescission - and the 'vitiating factors' which allow a party to rescind a contract is more of the same interesting shit. Being able to have different
      categories where a person's consent or agreement to a contract is vitiated and being able to argue for or against each one eg 'lying' (misrepresentation), being wrong (mistake), being 'forced' (duress), having a suspect relationship (undue influence), or
      acting like a major dickhead (unconscionable conduct). These categories might not be neatly tidy and clear cut (see undue influence and unconscionable conduct) but the principles make so much sense its just straight up fun to know about them.
      There are some subtleties that might also get a bit tricky in regards to the difference between common law and equity (similarly to the penalties doctrine) but it all comes out in the wash.
    </p>
    <br />
    <p>
      This is a contracts course, yeah, but there are also some really fucking interesting side tangents throughout the term about the ACL eg consumer guarantees near implied terms, unfair contract terms
      near frustration, and misleading or deceptive conduct near unconscionable conduct at the very end. I was a bit scared of legislation-heavy things coming off of <InTextLink link="/reviews/laws1061" color="text-[#78AEFF]">LAWS1061</InTextLink> (Torts) which was lowkey washed, but it actually broadens all your knowledge
      and ties together everything in this course philosophically - like everything in private law, contracts is about what remedies you can get if someone wrongs you, and having that goal in mind makes learning about everything really interesting, especially
      because people no doubt enter contracts on the regular (transport tickets, employment) and also for some of the biggest moments in their lives (Look at me, I just secured an insane commercial agreement!).
    </p>
    <br />
    <p>
      {` `}
      This course has 20% of that dreaded CP (class participation...), a 30% midterm problem question and a 50% 2 hour exam with only one problem question (but basically three different contracts to address). Overall everything isn't too bad and there was nothing ridiculously hard.
      You should just be able to argue well to get good is my best advice... heh... The midterm primarily tests everything from terms up to termination and frustration with an emphasis on implied terms or construction and basically will always ask you what action a party can take (basically always to terminate and claim damages, or
      claim frustration). Everything here is particularly fine, but just be wary of explicitly saying where a right to terminate comes from (eg breach of a condition, repudiation, etc) or what lets someone claim a contract is frustrated (is there a force majeure clause, or is it common law
      frustration?). The exam was a lot more chill and, off the top of my head, tested express terms, termination (repudiation or breach of a condition/severe breach of an intermediate term), damages (calculating them and assessing whether certain costs were claimable based on the rules of causation, remoteness, mitigation), ACL unconscionable
      conduct and unfair terms, duress, rescission, and misrepresentation. The clear trend is that the focus on implied terms and construction is offset by damages and the various factors for rescission. Interestingly, they didn't really test for misleading or deceptive conduct (the final topic and something I thought was quite substantial) apart from
      a tiny argument you could put and then immediately exist (along the lines of a private sale not being one in trade or commerce).
    </p>
    <br />
    <p>
      Overall, writing this off the back of reviewing some COMP courses, it might seem like things here are a bit too general. However, like all law courses, its really about whether you like the content or you like the cases. Personally, where you can see general
      themes recurring throughout an entire body of law and manifesting themselves in various ways (eg objective theory of contracts, principles of damages or rescission), combined with some lowkey interesting cases and scenarios (who doesn't like being able to
      determine how much money you can get from someone) made this course an incredible and entertaining if not stimulating course to take~!
    </p>
  </ReviewSection>
  <ReviewSection title="Difficulty">
    <p>I'll say this on every LAWS course review I do - if you don't do your readings you are a bum. You have like 20 pages of cases to read a lesson and you just talk about them in class. Is it really that hard...</p>
    <br />
    <p>
      Like all law courses, whether you find this difficult depends on how well you understand principles, how well you can argue and see the nuances in the rules, and how well you can apply shit to fact situations.
      It's a skill that you might build up over time, but as someone who lowkey doesn't really struggle with that kind of stuff, this shit was not easy but incredibly not difficult. Maybe things are difficult to understand
      conceptually when you first read them, but in class once you understand and get to apply shit to facts, the world just opens up and you start seeing the fourth dimension and the numbers in the matrix and shit. Honestly, people
      that struggle with law and for something conceptually heavy (rather than 'theoretically' heavy like torts or crime is) should learn to do their readings ASAP. Its literally just reading cute little stories about people's fuck
      ups over and over again (cases) and then differentiating them to see what you can do in a certain situation that you're given.
    </p>
    <br />
    <p>
      There are some more tedious cases to read here eg Cessnock being like 30 pages, but honestly all the cases are pretty interesting. This means the facts are quite easy to remember and take notes about (and especially about how principles are applied).
      Of course you need to know your shit, but once you do know your shit, its not that hard.
    </p>
  </ReviewSection>
  <ReviewSection title="Enjoyment">
    <p>
      I found this very enjoyable because not only were the problem questions pretty creative, but everything frankly just makes sense, and there's a lot of nuances that you can enjoy arguing about.
      There's nothing here that's really that boring, although I did find damages a bit difficult or dry to understand at first. In fact, being able to know more about equity without not having yet formally done it yet
      (through rescission and shit) was part of the reason why it was so enjoyable. Also seeing how everything started to fit together from the seeded threads in <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> comprised part of my enthusiasm.
    </p>
  </ReviewSection>
  <ReviewSection title="Effort">
    <p>
      {` `}
      I would estimate normal work taking around 5 hours a week, and then of course you have your mandatory 4 hours a week of going to your classes/seminars in person. Literally the only thing you do is read so it depends on how good you are at reading,
      but really the average is 20-30 pages, with some spikes when you're first introduced to termination, damages, and rescission. The online modules are also relatively chill and take merely an hour to do (included in the 5 hours of outside work you have to do).
    </p>
    <br />
    <p>
      Some people really struggle with class participation but it really helps when you know your shit and also don't mind being wrong. CP is something that never really stresses you out and you only think of doing spontaneously once you
      know your shit. It's also quite easy to participate if you genuinely don't understand shit and want clarification. The midterm wasn't too bad as long as you generally structure things by looking at the terms, use headings for each subtopic, etc. Maybe you
      would spend around 20-30 hours. The exam was one of those rare instances where I was actually able to finish early and add some bonus details throughout my answer, which was very nice.
    </p>
  </ReviewSection>
  <ReviewSection title="Delivery">
    <p>
      {` `}
      As with all law courses, the delivery really depends on what lecturer you have, and I primarily judge a lecturer based on how much opportunity they give us to solve problem questions (which is the only fun thing about coming to seminars), but my lecturer was a gigantic
      W and gave us some good opportunities interspersed with some clear explanations. Definitely the kind of person who could explain things really really well if I was struggling. The online modules were also relatively chill and I liked how there would be different
      'personalities' explaining different things - I found that quite nice. I also really fucking liked how, even though there was a new edition of the textbook, we used the old one and supplemented it with extracts of the new cases from the new edition to account for people having
      the same textboook from back when they did <InTextLink link="/reviews/laws1150" color="text-[#78AEFF]">LAWS1150</InTextLink> - that was incredibly accomodating and nice.
    </p>
  </ReviewSection>
  <ReviewSection title="Utility">
    <p>
      Law courses are overinflated as fuck and literally a money printer for a university. There is no way this course should cost me $2 124 which is around $240 a week. Imagine going up to your lecturer after every class and giving them $120.
      However, cost aside, learning about contracts is super helpful since pretty much everyone has experience with contracts and also exactly the kind of subject where you can really start to hone your writing skills.
    </p>
  </ReviewSection>
</ReviewPage>
