---
import InTextLink from "../../components/InTextLink.astro";
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage
  key="LAWS1150"
  primaryColor="bg-[#A2D2A1]"
  secondaryColor="bg-[#ECECE0]"
  thumbnail="/images/laws1150.jpg"
  thumbnailUrl="https://unsplash.com/photos/a-close-up-of-a-spider-on-its-web-s5TaoKhAaVE"
>
  <ReviewSection title="Overview">
    <p>
      Prerequisites:
      <InTextLink link="/reviews/laws1052" color="text-[#54ac53]">LAWS1052</InTextLink>
    </p>
    <br />
    <p>This part of the review (the overview) was written a few days after I finished the final exam.</p>
    <br />
    <p>
      The first amazing law course I took, or maybe it was the fact that it is the first I took an evening class
      for, and that I was in a particularly small class that nobody else talked in so I could farm class participation.
      I definitely think it was the actual content itself, though. In the first four weeks you learn about contract
      formation - agreement, consideration, intention, and certainty. You also learn about the doctrine of privity,
      and are teased on ways to 'circumvent' it, such as through agency, estoppel, trusts, the ACL, negligence, et cetera.
      I immediately fell in love with this because of the cases. Each case was full of idiosyncrasies and felt unique,
      which made it much easier to memorise. This also did not feel as purposefully obtuse as
      {` `}
      <InTextLink link="/reviews/laws1052" color="text-[#54ac53]">LAWS1052</InTextLink>
      {` `}
      or as rigid and
      formulaic as how the CLA defined
      {` `}
      <InTextLink link="/reviews/laws1061" color="text-[#54ac53]">LAWS1061</InTextLink>
      . There was so much room for debate and everything just made sense.
    </p>
    <br />
    <p>
      Of course you can accept a contract even if you don't say it if you don't do anything to contradict that! Of course
      you can't simply give a promise to do what you were already bound to do as fresh consideration for a new contract
      with the party you are bound to! Of course you can't infer a rate of pay if there are no reasonable market standards!
      Of course you can still have a contract in situations where it was assumed there usually would not be a contract before!
      It was around here that I actually started to appreciate the beauty and complexity and necessity of the law. It also felt
      so satisfying to really consider how each rule applied in different problem questions, of which there were, gladly, many of.
      The assignment was silly but vague and challenging to sink your teeth into. I felt incredibly proud of myself for completing it.
      Maybe it is just that the abstraction of contract formation just really appealed to me. After the first four weeks, you learn
      about property law. Property law was also incredibly interesting. Each lesson you learn something different (which I felt was a
      weakness in
      {` `}
      <InTextLink link="/reviews/laws1052" color="text-[#54ac53]">LAWS1052</InTextLink>
      {` `}
      and
      {` `}
      <InTextLink link="/reviews/laws1061" color="text-[#54ac53]">LAWS1061</InTextLink>
      ), and yet you are given enough breathing room to really understand and make sense of everything.
      You learn about trespass to land, injunctions, licences, fixtures, torts for the protection of goods, adverse possession, and
      transferring land (including the equitable doctrines of conversion and part performance). There is an emphatic undercurrent
      of the idea that possession is really what drives our relationships with property (or objects), which makes sense. Furthermore,
      although it is a bit hidden, this is really just an introduction of equity (looking at injunctions, licences, conversion, and
      part performance). Equity is very enjoyable, and much more than what was described in
      {` `}
      <InTextLink link="/reviews/laws1052" color="text-[#54ac53]">LAWS1052</InTextLink>
      .
    </p>
    <br />
    <p>
      As for everything else, all the  content seems like a lot but it comes together beautifully. This course has such a breadth of content that it really makes you
      feel like you are learning. There are also so many topics you come back to later - you are introduced to conversion, a
      tort for protecting goods, when you do consideration in contract law just because of one of the facts of the cases! You are also
      introduced to equitable estoppel in cases about revoking offers, which is around eight weeks before you actually do learn about
      equitable estoppel. The course concludes with equitable estoppel and agency, two topics which really supplement and combine contract
      law and property law together. Agency gets a special mention for being just case after case at first, which felt very dense and obtuse,
      but then conceptually making sense and all fitting in together. The idea that someone has ostensible authority if you recklessly
      let them present themselves as having authority is very funny to me. All these abstractions and concepts not only make sense but are very
      fun and satisfying to play with.
    </p>
    <br />
    <p>
      This course is excellent and an unexpectedly engaging introduction into some of the harder parts of a law degree. Very very very worthwhile,
      and I would be surprised if any other law course can reach the high this course has. My lecturer, even if they weren't the funniest person
      with the most engaging slides ever, was very down-to-earth and approachable, and also very practical with the way they explained the law.
      The most fun part of the law is applying it, and this course was just application after application, which was why I found it so fun.
    </p>
  </ReviewSection>
  <ReviewSection title="Difficulty">
    <p>
      Looking back at it, this course took us through a massive amount of law in quite a short amount of time. Contract offers and acceptances (and agreements in general),
      consideration, certainty, intention to create legal relations, privity and its exceptions, exploring boundaries in the definitions of property (eg human tissue, slavery,
      privacy, airspace), when damages can be a substitue for injunctions, licences, specific performance, proprietary interests and equitable interests, the numerus clausus principle,
      fixtures and chattels, a sprinke of restituion for unjust enrichment, nemo dat quod non habet, the different rights to possession vs ownership, bailments, the torts of trespass, conversion,
      detinue, a little bit of negligence, and an 'action on the case' (person with reversionary interest against someone who permanently damages a chattel), jus tertii, self-help remedies, adverse possession,
      an introduction to the formal requirements for the sale of land via the Conveyancing Act, the equitable doctrine of conversion and part performance, a small intro to equity recognising equitable interests
      if those formal requirements are not met, distinctions from leases and mortagages, part performance, equitable estoppel (and the existence of the debate or distinction between proprietary and promissory estoppel, if any),
      and agency. That was fucking massive.
    </p>
    <br />
    <p>
      The amount of breadth can be a little intimidating. However, the textbook/publication we used actually meant we didn't really need to read that much (maybe 15 pages on average, with a more crazy amount for agency at the very end).
      It was all about a conceptual understanding, and yeah to be honest theres so much shit that it really does feel a little daunting until you see everything fit together. But once you do it is beautiful. Looking back there perhaps was
      quite a lot, but it was honestly more enjoyable that way.
    </p>
  </ReviewSection>
  <ReviewSection title="Enjoyment">
    <p>
      It might be different for other classes, but I had a lecturer who reiterated and made us do a shit load of problem questions and it helped so much it was unreal. Once you actually
      understand everything you feel so smart and confident. That feeling can be so rare but once you have it it makes you so motivated to learn and try your best and life just becomes a little bit brighter. This
      course unironically was the first time I saw the beauty of the intellectual sport that is law. It's a feeling that you might forget as you get used to it later, but I lowkey think of my law
      study as split into two distinct eras: pre this course (the dark ages) and post this course (an echo chamber of being the GOAT).
    </p>
    <br />
    <p>I know some people really struggled with this and its a real shame (especially if it was a lecturer gap). But this course, at least content wise, is built different.</p>
  </ReviewSection>
  <ReviewSection title="Effort">
    <p>
      There's honestly not that much to read. There's just a lot to learn and conceptually understand. I'd say you would spend 4 hours maximum on readings (if you actually did them) but spent more time
      thinking about how those concepts would apply while you were on public transport or in the shower thinking about an assignent. Similarly to programming (and tbh law and programming intellectually
      are quite similar), if you include that as part of study, the time can really build up, but in terms of actual study where you can't do anything else, it's not that bad. Assignments and the final
      exam were also pretty chill (and I actually thought having an essay in the final exam for this course made a lot more sense).
    </p>
  </ReviewSection>
  <ReviewSection title="Delivery">
    <p>
      If I get the gripes out of the way first, you could tell my lecturer was new at teaching and they were a bit disorganised with the most plain slides ever. However, they were still friendly and helped us out
      a lot when it came to problem questions which more than made up for it. They also liked doing group work (having us brainstorm concepts out using textas on the whiteboards) which I found actually helped quite a bit.
      I lowkey miss that.
    </p>
    <br />
    <p>
      The textbook and the custom publication we have when we get to the second half of the course are written super clearly and succinctly which is very nice. The online modules were also very chill and actually
      supplemented the content well. Overall very high class delivery as expected. There's a reason why I actually started going crazy with CP here.
    </p>
  </ReviewSection>
  <ReviewSection title="Utility">
    <p>
      To be honest (besides the costs, which will always make law courses a bit too expensive and thus not the greatest), law courses always have a great amount of utility because
      you are learning something new. But here in this course you learn so much and it sets up threads that are resolved in later courses that it becomes its own beast. Even with the expensiveness,
      the amount of general knowledge you learn about private law in general that's applicable to basically your entire rest of law (eg having a kind of working background on what equity is like)
      really helps you out a lot.
    </p>
  </ReviewSection>
</ReviewPage>
