---
import InTextLink from "../../components/InTextLink.astro";
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage
  key="LAWS1055"
  primaryColor="bg-[#978787]"
  secondaryColor="bg-[#FBEDF1]"
  thumbnail="/images/laws1055.jpg"
  thumbnailUrl="https://unsplash.com/photos/black-and-white-round-illustration-J8sh37XZ8ww"
>
  <ReviewSection title="Overview">
    <p>
      Corequisite:
      <InTextLink link="/reviews/laws1052" color="text-[#978787]">LAWS1052</InTextLink>
    </p>
    <br />
    <p>
      This is mental torture. Spend two hours every week sitting in a room and staring at your screen vacantly and
      typing away but feeling like you are doing nothing. It felt like doing group work in commerce without knowing or having
      rapport with anybody. It felt like doing Year 9-10 classes where the teacher is sick so the substitute teacher hands out a
      shitty outline and gets you to take notes on a documentary. A waste of time. The only good thing about the course is that
      you learn how to find Westlaw and LexisNexis Advance on the UNSW library website, and learn the name of the ALGC4.
      The only saving grace is that there is an easy quiz worth 10% of your LAWS1052 mark that tests your skills here that you can
      take online. Did I get the time wrong and realise that the exam was on when there was 15 minutes left and get a 6/10? Yes I did.
      Am I still butthurt about that? Yes I am.
    </p>
    <br />
    <p>Bias out of the way, this shit is the biggest waste of time ever LOL</p>
  </ReviewSection>
  <img src="/gifs/duck-smoking.gif" class="lg:p-28" alt="Cartoon duck smoking and laughing to itself in relief" />
</ReviewPage>
