---
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage
  key="MATH1141"
  primaryColor="bg-[#55CDFF]"
  secondaryColor="bg-[#EAFCFF]"
  thumbnail="/images/math1141.jpg"
  thumbnailUrl="https://unsplash.com/photos/blue-and-white-water-splash-oykbZuvajO0"
>
  <ReviewSection title="Overview">
    <p>Prerequisites: None</p>
    <br />
    <p>
      A very chill introductory course to higher level maths. You learn a surprising amount of concepts here, but they
      were taught phenomenally. The content is split into algebra, which covers vectors, vector geometry, complex numbers,
      and matrices, and calculus, which covers limits, continuous functions, differentiation, integration, and curve sketching.
      Matrices and linear algebra absolutely blew me away. Very magical realisations. The calculus part was somewhat dry but still
      quite interesting, although at the start it is very 'abstract' (the epsilon delta whatever gets a special mention). This
      course was the first time I actually felt I was learning beyond a high school level. University level maths is a breath of
      fresh air compared to high school. Instead of rote memorisation, it really tests your understanding of abstract concepts and
      can link them together in very creative ways.
    </p>
  </ReviewSection>
  <ReviewSection title="Difficulty">
    <p>You will be fine if you're creative.</p>
  </ReviewSection>
  <ReviewSection title="Enjoyment">
    <p>Chill af and pretty enjoyable</p>
  </ReviewSection>
  <ReviewSection title="Effort">
    <p>I don't remember really putting in any time a week... like 3-4 hours? Sometimes weekly lessons can trip u up tho</p>
  </ReviewSection>
  <ReviewSection title="Delivery">
    <p>First year maths is taught very well overall (combo of tuts + labs + weekly lessons is crazy)!</p>
  </ReviewSection>
  <ReviewSection title="Utility">
    <p>This course is largely overshadowed by MATH1241 in terms of learning about crazy shit... however its still quite worth it!</p>
  </ReviewSection>
</ReviewPage>
