---
import InTextLink from "../../components/InTextLink.astro";
import ReviewSection from "../../components/ReviewSection.astro";
import ReviewPage from "../../layouts/ReviewPage.astro";

---
<ReviewPage
  key="MATH1241"
  primaryColor="bg-[#5592FF]"
  secondaryColor="bg-[#E7EFFF]"
  thumbnail="/images/math1241.jpg"
  thumbnailUrl="https://unsplash.com/photos/a-close-up-view-of-ice-and-water-Bycd2wF5vQU"
>
  <ReviewSection title="Overview">
    <p>Prerequisites: (Relevantly) 65 in <InTextLink link="/reviews/math1141" color="text-[#5592FF]">MATH1141</InTextLink></p>
    <br />
    <p>
      In the algebra part of this course you learn about vector spaces, linear transformations,
      eigenvalues and eigenvectors, and probability. After doing this course I had the serious
      urge to switch my entire degree and just do linear algebra. Linear algebra is beautiful.
      Even though I probably will never use this information in my actual career, it is incredibly
      interesting and intellectually satisfying for all the jigsaw pieces to fall into place. Of
      course every single linear transformation is just a matrix multiplication! Of course you can
      find the general solution a linear recurrence relation using matrices! Absolutely brilliant.
      Probability was a let down in comparison. In the calculus component you learn about functions of
      several variables, more integration, ordinary differential equations, Taylor series, and the
      length of curves + surface areas. This was much more interesting than the calculus in <InTextLink link="/reviews/math1141" color="text-[#5592FF]">MATH1141</InTextLink>,
      but still pretty abstract. However, any qualms I had about calculus were absolutely made up for
      by the algebra component. An insane course that genuinely changes the way you think about, not
      only maths, but problem solving and life in general!
    </p>
  </ReviewSection>
  <ReviewSection title="Difficulty">
    <p>
      Of the three maths courses I did in my first year, this was by far the trickiest. Everything is understandable
      but you really have to think creatively, especially for the algebra part. Even though I just got under a HD, I don't
      feel that bad about it (or looking back on it now I didn't really put that much effort into it). Some things kind of also
      get super abstract so you have to hold your breath and wait until you come out the other side.
    </p>
  </ReviewSection>
  <ReviewSection title="Enjoyment">
    <p>
      Vector spaces and linear transformations are god level. Interesting af. Calculus was alright and probability
      was a bit of a let down. However the enjoyment is still up there overall.
    </p>
  </ReviewSection>
  <ReviewSection title="Effort">
    <p>
      It's your usual first year maths course (labs, assignment, weekly lessons, final exam) and is pretty chill (maybe around 3-4 hours max a week)
      until you get to the final exam, where you pretty much just binge past paper question banks all day to revise. Overall however its a pretty
      manageable amount of effort.
    </p>
  </ReviewSection>
  <ReviewSection title="Delivery">
    <p>
      The lecturers were interesting and explained things well although they lokwey had heavy af accents. Just like other first year
      maths courses everything is presented brilliantly, especially the weekly lessons (which are super engaging). My tutor turned out to be one of the fucking lecturers
      in <InTextLink link="/reviews/math1081" color="text-[#5592FF]">MATH1081</InTextLink> the next term which is crazy. After finishing the last Mobius lesson there was a Star Wars-esque farewell credits scene to all the people
      who presented solutions in the weekly lessons and I genuinely mentally although not physically teared up a little... it was poignant af but
      also really funny...
    </p>
  </ReviewSection>
  <ReviewSection title="Utility">
    <p>
      This course is worth taking just for the abstract thinking it unlocks inside you alone. The fact its so cheap at $555 total or around $60 per week is
      just an added bonus.
    </p>
  </ReviewSection>
</ReviewPage>
