---
import Tag from './Tag.astro';

interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---
<review-tagbar data-tags={JSON.stringify(tags)}>
  <div class:list={[`text-[var(--main-dark)]`, "flex flex-row justify-start gap-2 py-3", "tagbar-container"]}>
		{tags && tags.map(t => <Tag value={t}/>)}
  </div>
</review-tagbar>
<script>
	import { createTag } from "./tags";

  class ReviewTagbar extends HTMLElement {
		static observedAttributes = ["tags"];

		constructor() {
			super();
		}

		connectedCallback() {
			this.attributeChangedCallback('', '', this.dataset["tags"]!);
		}

		attributeChangedCallback(name: string, oldValue: string, newValue: string) {
			try {
				const newTags = JSON.parse(newValue) as string[];
				const container = this.querySelector(".tagbar-container")! as HTMLElement;
				if (container.children.length > newTags.length) {
					let elem = container.children.item(newTags.length);
					while (elem) {
						container.removeChild(elem);
						elem = container.children.item(newTags.length);
					}
				}

				newTags.forEach((t, i) => {
					let tagDiv = container.children.item(i);
					if (tagDiv) {
						tagDiv.textContent = t;
					} else {
						container.appendChild(createTag(t));
					}
				});
			} catch {

			}
		}
	}

	customElements.define("review-tagbar", ReviewTagbar);
</script>