---
interface Props {
  otherClass?: string;
}

const { otherClass } = Astro.props;
---
<button id="back-to-top" class:list={["text-md font-bold hover:underline cursor-pointer", otherClass]}>↑ Back to top</button>
<script>
  // Add functionality to back to top button
  const button = document.querySelector("#back-to-top");
  if (button) {
    button.addEventListener("click", () => {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    });
  };
</script>