<footer class={`h-50 p-10 border-t border-slate-400 bg-[var(--main-colour)]`}>
  <p>
    Someday I am going to put something here
  </p>

  <p>
    This is my footer but it looks shit for now
  </p>
</footer>
