<nav id="big-nav" class={`bg-[var(--main-white)] px-7 font-manrope justify-between text-sm flex h-12 shadow-md z-1 py-1 items-center`}>
  <a class="cursor-pointer hover:underline" href="/">HOME</a>
  <div class="flex flex-row gap-10">
    <a class="cursor-pointer hover:underline" href="/reviews">REVIEWS</a>
    <a class="cursor-pointer hover:underline" href="/reviews">GUIDES</a>
    <a class="cursor-pointer hover:underline" href="/reviews">ABOUT</a>
  </div>
</nav>
