---
import { dark } from './colours';
import RatingCategory from "./RatingCategory.astro";
import ReviewTagbar from "./ReviewTagbar.astro";

---
<div class:list={["bg-white", dark.text, "shadow-sm p-10 rounded-lg h-full flex-col review-card"]} style="display: none;" data-visible="false">
	<div class:list={["mb-20 relative"]}>
		<div class:list={[, "text-2xl", "review-longtitle", "review-dynamic"]}>
			{/* review.longTitle */}
		</div>
		<div class:list={["font-bold", "text-lg", "review-course-id", "review-dynamic"]}>
			{/* review.id */}
		</div>
		<ReviewTagbar />
		<a href="javascript:void(0)" class:list={["review-link", "text-sm hover:underline cursor-pointer decoration-[#fcc8da] decoration-2 underline-offset-2"]} data-astro-prefetch>Read review →</a>
		<button class:list={["absolute cursor-pointer top-0 right-0 size-7 hover:opacity-50 review-close-btn"]}>
			<img class:list="object-contain" src="/x.svg" />
		</button>
	</div>
	<ul class:list={["grid grid-cols-2 gap-2 text-md flex-1 min-h-[35lvh]"]}>
		<RatingCategory label="Difficulty" key="difficulty"/>
		<RatingCategory label="Effort"  key="effort"/>
		<RatingCategory label="Enjoyment"  key="enjoyment"/>
		<RatingCategory label="Delivery"  key="delivery"/>
		<RatingCategory otherClass="col-span-2" label="Utility" key="utility"/>
	</ul>
</div>
<script>
	const closeButtons = document.querySelectorAll(".review-close-btn");
	closeButtons.forEach(b => b.addEventListener("click", () => {
		const card = b.closest(".review-card") as HTMLElement;
		card.onanimationend = () => {
			card.style.display = "none";
			card.style.animation = "";
		};
		card.style.animation = "0.3s ease-out fadeOut, 0.3s ease-out upOut";
		card.dataset.visible = "false";

		const container = b.closest(".tier-container")!;
		container.querySelectorAll("colour-button").forEach(c => c.setAttribute("active", "false"));
	}));
</script>