---
import { getCollection } from 'astro:content';
import CourseButton from './CourseButton.astro';
import ReviewCard from './ReviewCard.astro';
import type { ElemColour } from '../../scripts/ElemColour';

type Rating = 'S' | 'A' | 'B' | 'C' | 'D' | 'F';

interface Props {
  containerColours: string[];
  title: string;
  rating: Rating;
  description: string;
  buttonColours: {
    primary: ElemColour;
    secondary: ElemColour;
  };
}

const { containerColours, title, rating, description, buttonColours } = Astro.props;

const reviews = await getCollection(`reviews`);
const rateToList = (rating: Rating) => reviews.filter(r => r.data.rating === rating).toSorted((a, b) => a.data.id.localeCompare(b.data.id));

---
<div class:list={[containerColours, "tier-container", "font-manrope min-h-[100lvh] py-15 md:py-20"]}>
  <section class:list={["grid grid-cols-1 lg:grid-cols-2 h-full xl:mx-15 lg:mx-5 md:mx-20 xl:gap-10 lg:gap-5 gap-10"]}>
    <section>
      <div class:list={["font-playfair text-4xl ml-5 pb-10"]}>{title}</div>
      <div class:list={["p-5 font-manrope text-md"]}>{description}</div>
      <ul class:list={["mt-5"]}>
        {rateToList(rating).map(ra => <CourseButton review={ra.data} colours={buttonColours}/>)}
      </ul>
    </section>
    <section class:list={["max-h-[100lvh] sticky top-0"]}>
      <div class:list={["h-full justify-start"]}>
        <ReviewCard />
      </div>
    </section>
  </section>
</div>