---
import RatingCategory from "./RatingCategory.astro";
import ReviewTagbar from "./ReviewTagbar.astro";

---
<div class:list={["bg-white", `text-[var(--text-dark)]`, "fixed bottom-0 right-0 lg:static z-1 shadow-sm p-10 rounded-l-lg lg:rounded-lg h-full w-[80lvw] sm:w-[70lvw] md:w-[60lvw] lg:w-full flex-col review-card"]} style="display: none;" data-visible="false">
	<div class:list={["sm:mb-10 md:mb-20 relative"]}>
		<div class:list={["flex flex-row justify-between w-full"]}>
			<div class:list={[, "text-xl xl:text-2xl font-bv", "review-longtitle", "review-dynamic"]}>
				{/* review.longTitle */}
			</div>
			<button class:list={["cursor-pointer size-7 hover:opacity-50 review-close-btn"]}>
				<img class:list="object-contain" src="/x.svg" />
			</button>
			</div>
		<div class:list={["font-bold", "text-lg", "review-course-id", "review-dynamic"]}>
			{/* review.id */}
		</div>
		<ReviewTagbar />
		<a href="/reviews" class:list={["review-link", "text-sm hover:underline cursor-pointer decoration-[var(--main-accent)] decoration-2 underline-offset-2"]} data-astro-prefetch>Read review →</a>
	</div>
	<ul class:list={["grid grid-cols-1 md:grid-cols-2 gap-2 text-md flex-1 min-h-[35lvh]"]}>
		<li>
			<RatingCategory label="Difficulty" key="difficulty"/>
		</li>
		<li>
			<RatingCategory label="Enjoyment"  key="enjoyment"/>
		</li>
		<li>
			<RatingCategory label="Effort" key="effort"/>
		</li>
		<li>
			<RatingCategory label="Delivery"  key="delivery"/>
		</li>
		<li class:list={["md:col-span-2"]}>
			<RatingCategory label="Utility" key="utility"/>
		</li>
	</ul>
</div>
<script>
	import { closeCard } from "./card";
	const closeButtons = document.querySelectorAll(".review-close-btn");
	closeButtons.forEach(b => b.addEventListener("click", () => closeCard(b)));
</script>